/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: -20;
}

/* Header e Navegação */
header {
    width: 100%;
    background-color: white;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 59, 253);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4c542;
}

h1{
    color: #00437d;
}

h4{
    color: #333;
}

/* Seção do Vereador */
.vereador-section { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.vereador-container {
    position: relative;
    width: 300px;
    height: 320px;
    overflow: hidden;
}

.vereador-image {
    width: 100%;
    height: auto;
    animation: moveVereador 3s ease-in-out infinite alternate;
}

@keyframes moveVereador {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-2px);
    }
}

/* Canvas e Controle de Imagem */
#canvas {
    border: 0.5px solid #00000000;
    margin-top: 20px;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

.upload-section {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload label {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #00437d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-file-upload .upload-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.custom-file-upload label:hover {
    background-color: #0264b9;
}

.custom-download-btn {
    display: none; /* Inicialmente escondido */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.custom-download-btn .download-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.custom-download-btn:hover {
    background-color: #007bb5;
}

/* Rodapé */
footer {
    background-color: #f1f1f1;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h5, footer h6 {
    margin: 0;
    font-size: 12px;
    color: #333;
}
